body {
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 0;
    height: 100vh;
    padding: none;
    background-color: #EBECF0;
}
main {
    grid-column: 2;
}
.Main{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    margin-left: 20px;
    height: 500px;
}

.Main h2{
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 40px;
}
main div p{
    width: 30vh;
}
#mainText{
    width: 400px;
    font-size: 30px;
    margin-top: 100px;
    grid-column: 1;
    grid-row: 1;
}
#imageBar{
    grid-column: 2;
    grid-row: 1;
    float: right;
    
}
.imageBarImage{
    float: right;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 100px;
    width: 70vh;
    height: 35vh;
}
#leftArrow{
    float: right;
    width: 20px;
    height: 20px;
    transform: translateX(50px) translateY(210px); 
    position: relative;
}
#rightArrow{
    float: right;
    width: 20px;
    height: 20px;
    transform: translateX(-50px) translateY(220px); 
    position: relative;
}
#rightArrow:hover{
    animation-name: ArrowEffectBegin;
    animation-duration: 1s;
    background-color: gray;
}
#leftArrow:hover{
    animation-name: ArrowEffectBegin;
    animation-duration: 1s;
    background-color: gray;
}
.hoverEnd{ 
    animati7on-name: ArrowEffectEnd;
    animation-duration: 1s;
}
@keyframes ArrowEffectBegin {
    0% {background-color: transparent;}
    100% {background-color: gray;}
}
@keyframes ArrowEffectEnd {
    0% {background-color: gray;}
    100% {background-color: transparent;}
}

#Openingstijden{
    display: grid;
    grid-template-columns: 50% 30%;
}
#Openingstijden_p{
    grid-column: 1;
}
#Open_gesloten{
    grid-column: 2;
    font-size: 25px;
    color: gray;

}
.open{
    color: gray;
    width: 20px;
    margin-left: 400px;
    font-size: 20px;
}
.text{
    margin-top: -40px;
    width: 150px;
}

@media (max-width: 1210px){

    .imageBarImage{
        float: right;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 100px;
        width: 50vh;
        height: 35vh;
    }
    #leftArrow{
        float: right;
        width: 20px;
        height: 20px;
        transform: translateX(50px) translateY(210px); 
        position: relative;
    }
    #rightArrow{
        float: right;
        width: 20px;
        height: 20px;
        transform: translateX(-50px) translateY(220px); 
        position: relative;
    }
}
/* begin slideshow */

/* Slideshow container */
.slideshow-container {
    grid-column: 2;
    grid-row: 1;
    min-width: 500px;
    max-width: 500px;
    position: relative;
    margin: auto;
    
}
.slidehsow_Imagecontainer{
    min-height: 300px;
    max-height: 300px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 
/* end slideshow */